.a{
    background-color: #c1ebb6;
}
.b{
    background-color: #e3f1a3;
}
.plus{
    font-size: 12px;
    float:right;
    
}

.s{
    margin:-10px 3px;
    position: relative;
    top:24px;
    padding-top: 10px;
    float:right;
}
