<app-vertical-navigation></app-vertical-navigation>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Stock Inventory</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="success panel panel-default">
            <div class="panel-heading a">
                Inward
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" #Inward="ngForm" (ngSubmit)="onInwardClick()" novalidate>
                       {{Inward.value | json}}
                       <div class="form-group"  >
                        <label>Stock Items :</label>
                        <select class="form-control" id="stock_name" name="stock_name" required [(ngModel)]="inwardmodel.stock_id">
                            <option *ngFor="let result of stockload" value={{result[0]}}>{{result[1]}}</option>
                         </select>
                     </div>
                   <div class="form-group">
                        <label>Quantity :</label>
                        <input class="form-control" name="quantity" required [(ngModel)]="inwardmodel.quantity">      
                    </div>
                    <div class="form-group">
                        <label>Description :</label>
                        <textarea class="form-control" rows="3" name="discription" required [(ngModel)]="inwardmodel.discription"></textarea>
                    </div>
                    <div>
                   
                    <button type="submit" class="btn btn-default space">Add</button> 
                    <button type="reset" class="btn btn-default space">Clear</button>
                </div>
                </form>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading b">
                    Outward
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                        <div class="s">   
                                <!-- Modal -->
                                <div class="col-md-1"><button class="btn primary btn-primary btn-default" data-toggle="modal" data-target="#myModal">+</button>
                                </div>                              
                                <app-stock-items-popup></app-stock-items-popup>
                                <!-- /.modal -->
                        </div>
                    <form role="form" #Outward="ngForm" (ngSubmit)="onOutwardClick()" novalidate>
                           {{Outward.value | json}}
                           <div class="form-group"  >
                            <label>Stock Items :</label>
                            <select class="form-control" id="stock_name" name="stock_name" required [(ngModel)]="outwardmodel.stock_id">
                                <option *ngFor="let result of stockload" value={{result[0]}}>{{result[1]}}</option>
                             </select>
                         </div>
                        <div class="form-group">
                            <label>UserName :</label>
                            <input class="form-control" name="username" required [(ngModel)]="outwardmodel.username">
                                    
                        </div>
                        <div class="form-group ">
                            <label>Transition Type :</label>
                            <input class="form-control" name="transition_type" required [(ngModel)]="outwardmodel.transition_type">
                            
                        </div>
                        <div class="form-group">
                            <label>Quantity :</label>
                            <input class="form-control" name="quantity" required [(ngModel)]="outwardmodel.quantity">
                            
                        </div>                    
                        <div class="form-group">
                            <label>Description :</label>
                            <textarea class="form-control" rows="3" name="discription" required [(ngModel)]="outwardmodel.discription"></textarea>
                        </div>
                        <div>
                       
                        <button type="submit" class="btn btn-default space">Submit</button> 
                        <button type="reset" class="btn btn-default space">Clear</button>
                    </div>
                    </form>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
  </div>      
  </div>
 