<app-vertical-navigation></app-vertical-navigation>
<div id="page-wrapper">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <!--form-->
                    <div class="form-group">
                        <label>Text Input</label>
                        <input class="form-control">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    
                <!--/form-->
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
</div>
</div>
<!-- /#page-wrapper -->