<p>This is LogForm</p>
<div><h1> Call Log Form</h1> </div><br>

<div>
  <table>
    <tr>
    <td><strong>Name Of Person :</strong></td>
    
    <td><input type="text" name="Name"></td>
    </tr>
    <tr>
      <td><strong>Phone Number :</strong></td>
      <td><input type="text" name="Num"></td>
    </tr>

    <tr>
      <td><strong>Time Of Call :</strong></td>
       <td> <input type="text" name="TOM"></td>
    </tr>
    <tr>
        <td><strong>Location :</strong></td>
        <td><input type="text" name="Loc"></td>
    </tr>
    <tr>
        <td><strong>Reported by :</strong></td>
        <td><input type="text" name="Repby"></td>
    </tr>
      <tr>
        <td><strong>Call Priority :</strong></td>
        <td><div class="selectdiv">
            <label>
                <select>
                    <option selected> Select Box </option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Last long option</option>
                </select>
            </label>
          </div>
        </td>
      </tr>
        <tr>
          <td><strong>Call Severity :</strong></td>
          <td><div class="selectdiv">
              <label>
                  <select>
                      <option selected> Select Box </option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Last long option</option>
                  </select>
              </label>
            </div>
          </td>
          <br>
          </tr>
          <tr><td>&nbsp;<td>
              <td>&nbsp;<td>
                  <td>&nbsp;<td>
          </tr>
          <tr>
            <td><button type="submit" name="Submit">Submit</button></td>
            <td><button type="reset" name="reset">Clear</button></td>
            <td><button type="button" name="exit">Exit</button></td>
          </tr>
        



</div>